@import url(fontiran.css);


body {
    font-family: Vazir, serif !important;
    direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
text,
textarea,
button,
div,
p,
a,
span,
label,
li,
td,
th,
tr,
title {
    font-family: Vazir, serif !important;
}

svg{
    font-size: 22px;
}
